@mixin typo-bold-title {
  font-weight: bold;
  font-size: 32px;
}
@mixin typo-bold-title-small {
  font-weight: bold;
  font-size: 20px;
}

@mixin typo-title {
  font-size: 34px;
}

@mixin typo-bold-paragraph {
  font-weight: bold;
}

@mixin typo-label {
  font-weight: 600;
  font-size: 14px;
}

@mixin typo-cta {
  font-weight: bolder;
}
