$primary-lighter: #535370;
$primary: #3b3db0;
$primary-dark: #03018f;

$secondary-lighter: #dde7ff;
$secondary-light: #cddcff;
$secondary: #bcd0ff;
$secondary-dark: #abc4ff;

$valid: #46d5b3;
$valid-light: #daf7f0;

$error: #f25735;
$error-light: #fceae6;

$disabled: #535370;

$neutral: #272742;
$neutral-light: #535370;

$black: #000;
$white: white;

$spacing: 4px;

$typo-base: 16px;
